.loading-text {
    -fx-font-size: 36px;
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-weight: bold;
}

.loading-pane {
    -fx-background-color: #ccccccaa;
}

.button-borrow {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


