.outline {
    -fx-background-radius: 30;
}

.navi-tab {
    -fx-font-family: Monospaced;
    -fx-font-weight: bold;
    -fx-background-color: ffffff00;
    -fx-transition: background-color 0.3s ease-in-out;
    -fx-font-size: 19;
}

.navi-tab:hover {
    -fx-background-color: ffffff55;
}