.outline {
    -fx-background-radius: 30;
}

.navi-tab {
    -fx-background-color: ffffff00;
    -fx-transition: background-color 0.3s ease-in-out;
}

.navi-tab:hover {
    -fx-background-color: ffffff55;
}