.register-container {
    -fx-background-color: #f8e6d5;
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.v-box-container {
    -fx-background-color: white;
}

.text-detail {
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #2cccff, #22dfbf);
}

.text-field-tag {
    -fx-background-radius: 25 25 25 25;
    -fx-padding: 0 0 0 20;
    -fx-font-size: 14;
    -fx-cursor: text;
}

.button-register {
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2cccff, #22dfbf);
    -fx-background-radius: 25 25 25 25;
    -fx-transition: background-color 0.3s ease-in-out;
}

.text-footer {
    -fx-font-size: 14;
}

.text-link {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-text-fill: #ef5627;
    -fx-cursor: hand;
}

.text-warning {
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}